@let companies = companies$ | async;
@let isLoading = loading$ | async;

<div #companyList class="company-list" (scroll)="onScroll()">
  <h2 class="company-list__header">Компании</h2>
  @if (companies && companies.length) {
    <div class="company-list__items">
      @for (company of companies; track company.id) {
        <app-company-item [company]="company"></app-company-item>
      }
    </div>
  }
  @if (companies && !companies.length && !isLoading) {
    <span class="company-list__placeholder">Company list is empty.</span>
  }
  @if (isLoading) {
    <span class="company-list__placeholder">Loading...</span>
  }
</div>
